.Search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 0
}

.Search input{

background-color:none;
border-left: 1px grey solid;
border-top: none;
border-right: none;
border-bottom: none;

}

.Search .material-icons {
    background-color: white;
   
}

.Search{
    background-color: white;
    width: 200px;
}