:root {
  --ColorSecondary: #7051f1;
  --BoxShadow: 2px 2px 8px rgba(0, 0, 0, 0.511);
  --fontsizesecondary: 17px;
}
.Tab {
  padding-top: 50px;
  padding-inline: 50px;
  padding-bottom: 50px;
}

.App-link {
  color: #61dafb;
}

:root {
  --size_menu: 17px;
  --color-menu: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Colonne {
  display: flex;
  flex-direction: row;
}

/* Menu */
.Menu {
  background-color: #272a37;
  width: 12%;

  padding-inline: 10px;

  height: 100vh;
  position: fixed;
}

.list {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: var(--size_menu);
}

.ProfilHeader {
  display: flex;
  flex-direction: column;
  color: var(--color-menu);
  padding-left: 10px;
}
/* Content */

.Content {
  width: 100%;
  margin-left: 12%;

  background-color: white;
  min-height: 100vh;
}
